# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js Build Output
/.next/
/out/

# Production & Cache
/build
dist

# Observability local cache
*.tsbuildinfo
next-env.d.ts

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Local Runtime Data & Traces
/data/
/traces/

# OS Files
.DS_Store
*.pem
